[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/opt/conda/bin/python -m jupyter-lab --notebook-dir=/home/user/notebooks --no-browser --bind=0.0.0.0
User=user
Group=user
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
